.container {
  width: 100%;
  max-width: 736px;

  margin: 0 auto;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;

  span {
    background-color: var(--gray-400);
    padding: 0.125rem 0.5rem;
    margin-left: 0.5rem;
    border-radius: 999px;

    font-weight: 700;
    font-size: 0.75rem;
    color: var(--gray-200);
  }
}

.createdTasks {
  color: var(--blue);
}

.completedTasks {
  color: var(--purple);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.taskItem {
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-400);

  display: flex;
  gap: 0.75rem;

  span {
    flex: 1;
    color: var(--gray-100);
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

.isDone {
  border: 1px solid var(--gray-500);

  .checkButton {
    color: var(--purple-dark);
  }

  span {
    color: var(--gray-300);
    text-decoration: line-through;
  }
}

.checkButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 0;
  color: var(--blue);
}

.removeButton {
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem;
  cursor: pointer;
  border: 0;
  line-height: 0;
  color: var(--gray-300);

  &:hover {
    background-color: var(--gray-400);
    color: var(--danger);
  }
}

.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  padding: 4rem;
  border-radius: 0.5rem;
  border-top: 1px solid var(--gray-400);

  p {
    display: flex;
    flex-direction: column;

    line-height: 1.4;
  }
}